* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

#background {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #ef2a26;
  z-index: -1;
}

.float-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 70%;
  height: 70vh;
  margin: auto;
  background-color: pink;
}

.float-child {
  height: 100%;
  width: 50%;
  float: left;
  padding: 20px;
  justify-content: center;
}

.color-navbar {
  background-color: pink;
}

.hr-css {
  border: 2px solid red;
  margin: 30px auto;
  width: 80%;
}

#form-create {
  background-color: #D9D9D9;
  height: 100vh;
}

.h1-div {
  background-color: #ef2a26;
  width: auto;
  display: table;
  margin: 20px auto;
  padding: 10px 50px;
  color: #fff;
}

.form-details {
  width: 50%;
  padding: 20px;
  margin: auto;
}

.login-h1 {
  display: flex;
  align-items: center;
}

.login-h1-text {
  color: #ef2a26;
  font-size: 5em;
  text-align: center;
}

.login-form {
  margin: 10% auto;
}