.link {
    color: #FFF;
    text-decoration: none;
}

.link:hover {
    color: #FFF;
}


.hr-css {
    border: 2px solid red;
    margin: 30px auto;
    width: 80%;
}

ol {
    list-style-type: none;
}
